* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border-style: none;
}

.header {
    padding: 1px;
    background-color: lightblue;
}

.header h1 {
    text-align: center;
    color: #fff
}

.header span {
    font-size: large;
}

main {
    border: 2px solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .intro {
    font-size: larger;
    font-weight: 900;
    text-align: center;
}

main p {
    text-align: center;
    font-size: medium;
    font-weight: 300;
    margin: auto;
}

.luas {
    border: 1px solid black;
    margin: 10px;
    width: 90%;
}

.luas .judul {
    font-size: larger;
    font-weight: 900;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}